<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.appium.browserTest.AndroidBrowserSaucelabsTest" />
			<class name="com.appium.browserTest.AndoridBrowserLocalTest" />
			<class name="com.appium.browserTest.IOSBrowserSaucelabsTest" />
			<class name="com.appium.browserTest.IOSBrowserLocalTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
